{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
  <div class="box">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child ">
          <p class="title"><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></p>
          <p class="subtitle">Publicado: {{post.published_date}}</p>
          <div class="content">
            <!-- Content -->
            <p>{{post.text|truncatechars:200|safe}}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
            </div>
        </article>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class"column is-offset-3 is-6">
    <div class="block">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Top-adaltopicotti -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-4456878218517382"
           data-ad-slot="9155515553"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
{% endblock content %}
