{% extends 'app/base.html' %}

{% block content %}
  <div class="box">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child ">
		<!-- SUBV ESTADUAL -->
		<form method="POST" name="cotador" id="cotador" class="post-form">{% csrf_token %}
			<div class="column is-10">
			
				<label class="label">Subvenção Estadual</label>
				<span class="select">
					<select name="uf" class="form-control" onchange="validar()">
							<option value="Desativado" selected> </option>
							<option value="Ativado"> </option>
					</select>
				</span>
					<button type="submit" class="button is-white is outlined is-primary">
						Aplicar
					</button>
				
			</div>
		</form>
		<!-- END - SUBV ESTADUAL -->
        </article>
      </div>
    </div>
  </div>
{% endblock content %}
