{% extends 'app/base.html' %}

{% block content %}
  <div class="box">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child ">
		<!-- SUBV ESTADUAL -->
		<form method="POST" name="cotador" id="cotador" class="post-form">{% csrf_token %}
			<div class="column is-10 is-offset-3">
			
				<label class="label">Subvenção Estadual</label>
				<span class="select">
					<select name="subv_status" class="form-control" onchange="validar()">
							<option value="0" {% if ative == '0' %}selected {% endif %}>Desativado</option>
							<option value="1" {% if ative == '1' %}selected {% endif %}>Ativado</option>
					</select>
				</span>
					<button type="submit" class="button is-white is outlined is-primary">
						Aplicar
					</button>
				
			</div>
		</form>
		<div class="column is-12 is-italic">
			<table class="table is-fullwidth">
				<thead>
					<td>
						<p>Cotador</p>
					</td>
					<td>
						<p>STATUS</p>
					</td>
				</thead>
				<tbody>
					{% for cotador in cotadores %}
					<tr>
						<td>
							<p>{{cotador}}</p>
						</td>
						<td>
							<p>{{status}}</p>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- END - SUBV ESTADUAL -->
        </article>
      </div>
    </div>
  </div>
{% endblock content %}
