{% extends 'app/base.html' %}

{% block content %}
  <div class="box">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child ">
		<!-- SUBV ESTADUAL -->
		
		<div class="column is-10">
			<label for="lbl_uf">Estado</label>
			<select name="uf" class="form-control" onchange="validar()">
				{% for uf in ufs %}
					<option value="{{uf.id}}" {% if uf.id == uf_sel %}selected {% endif %}>{{uf.name}}</option>
				{% endfor %}
			</select>
		</div>
		<!-- END - SUBV ESTADUAL -->
          <p class="title"><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></p>
          <p class="subtitle">Publicado: {{post.published_date}}</p>
          <div class="content">
            <!-- Content -->
            <p>{{post.text|truncatechars:300|safe}}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
            </div>
        </article>
      </div>
    </div>
  </div>
{% endblock content %}
