{% extends "blog/base.html" %}

{% block content %}
  <div class="box">
    <div class="columns">
      <div class="column is-offset-4 is-4">
        <article class="tile is-child ">
          <p class="title"><a>Consulta de CEP</a></p>
          <form method="POST" name="cepForm" class="post-form">{% csrf_token %}
            <div class="field">
              <p class="control">
                <input class="input" autofocus type="number" name="cepNumber" placeholder="Digite o CEP">
                {% if r.ibge %}

                {% else %}
                  {% if r.erro %}
                    <p class="help is-danger">{{r.erro}}</p>
                  {% else %}
                    <p class="help is-danger">{{r}}</p>
                  {% endif %}
                {% endif %}
              </p>
            </div>
              <div class="field is-grouped">
              <p class="control">
                <button type="submit" class="button is-primary">Consultar</button>
              </p>
            </div>
          </form>
        </article>
        </div>
      </div>
      {% if r.ibge %}
      <div class="columns">
        <div class="column is-offset-3 is-6">
          <article>
            <div class="box">
            <p class="control">
              <p><label class="label is-success">CEP</label></p>
              <input class="input is-success" disabled type="text" value="{{r.cep}}">
            </p><br>
            {% if r.logradouro %}
            <p class="control">
              <p><label class="label is-success">Logradouro</label></p>
              <input class="input is-success" disabled type="text" value="{{r.logradouro}}">
            </p><br>
            <p class="control">
              <p><label class="label is-success">Bairro</label></p>
              <input class="input is-success" disabled type="text" value="{{r.bairro}}">
            </p><br>
            {% endif %}
            <p class="control">
              <p><label class="label is-success">Municipio</label></p>
              <input class="input is-success" disabled type="text" value="{{r.localidade}}">
            </p><br>
            <p class="control">
              <p><label class="label is-success">UF</label></p>
              <input class="input is-success" disabled type="text" value="{{r.uf}}">
            </p>
          </div>
        </article>
      </div>
    </div>

    {% endif %}
    <div class="columns">
      <div class="column">
        <article>
          <div class="box">
            <div class="column is-offset-5">
          <p class="subtitle is-primary is-centered"> O que é CEP?</p>
            </div>
          <p>
            {{cepInfo}}
          </p>
        </div>
      </article>
    </div>
  </div>
  </div>

{% endblock %}
