{% extends "blog/base.html" %}

{% block content %}
  <div class="box">
    <div class="columns">
      <div class="column is-12">
        <article class="tile is-child ">
          <p class="title"><a>Coordenadas</a></p>
          <form method="POST" name="coordForm" class="post-form">{% csrf_token %}
            <div class="field">
              <div class="column is-10">
                <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th><abbr title="Played">Deg (º)</abbr></th>
                    <th><abbr title="Played">Min (')</abbr></th>
                    <th><abbr title="Played">Sec (")</abbr></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="" title="">Latitude</a> <strong></strong></td>
                    <td><input class="input" width="3" maxlength="2" autofocus name="lat_deg"></td>
                    <td><input class="input" maxlength="2" autofocus name="lat_min"></td>
                    <td><input class="input" maxlength="2" autofocus name="lat_sec"></td>
                  </tr>
                  <tr>
                    <td><a href="" title="">Longitude</a> <strong></strong></td>
                    <td><input class="input" maxlength="2" autofocus name="lon_deg"></td>
                    <td><input class="input" maxlength="2" autofocus name="lon_min"></td>
                    <td><input class="input" maxlength="2" autofocus name="lon_sec"></td>
                  </tr>
                </tbody>
                </table>
                </div>
                {% if geoInfo %}
                <div class="column is-12">
                <table class="table">
                <thead>
                  <tr>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a>Latitude</a></td>
                    <td>{{lat}}</td>
                    </tr>
                  <tr>
                    <td><a>Longitude</a></td>
                    <td>{{lon}}</td>
                  </tr>
                  <tr>
                    <td><a>Endereço</a></td>
                    <td>{{geoInfo}}</td>
                  </tr>
                </tbody>
                </table>
              </div>
              {% endif %}
            </div>
              <div class="field is-grouped">
              <p class="control">
                <button type="submit" class="button is-primary">Consultar</button>
              </p>
            </div>
          </form>
          <div class="box">
            <div class="column is-offset-5">
          <p class="subtitle is-primary is-centered"> O que é Coordenadas?</p>
            </div>
          <p>
            {{geoInfo}}
          </p>
          </div>
        </article>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-10">
        <article>
          <div class="box">
            <div class="column is-offset-5 is-12">
              <p class="subtitle is-primary is-centered"> O que é Coordenadas?</p>
            </div>
            <p>
              {{geoInfo}}
            </p>
        </div>
      </article>
      <!-- GOOGLE ADSENSE -->
    </div>
  </div>


{% endblock %}
