{% extends "blog/base.html" %}

{% block content %}
  <div class="box">
    <div class="columns">
      <div class="column is-9">
        <article class="tile is-child ">
          <p class="title"><a>Coordenadas</a></p>
          <form method="POST" name="coordForm" class="post-form">{% csrf_token %}
            <div class="field">
              <div class="column is-10">
                <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th><abbr title="Played">Deg (º)</abbr></th>
                    <th><abbr title="Played">Min (')</abbr></th>
                    <th><abbr title="Played">Sec (")</abbr></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="" title="Leicester City F.C.">Latitude</a> <strong></strong></td>
                    <td><input class="input" width="3" maxlength="2" autofocus name="lat_deg"></td>
                    <td><input class="input" maxlength="2" autofocus name="lat_min"></td>
                    <td><input class="input" maxlength="2" autofocus name="lat_sec"></td>
                  </tr>
                  <tr>
                    <td><a href="" title="Leicester City F.C.">Longitude</a> <strong></strong></td>
                    <td><input class="input" maxlength="2" autofocus name="lon_deg"></td>
                    <td><input class="input" maxlength="2" autofocus name="lon_min"></td>
                    <td><input class="input" maxlength="2" autofocus name="lon_sec"></td>
                  </tr>
                </tbody>
                </table>
                <table class="table">
                <thead>
                  <tr>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a>Latitude</a></td>
                    <td></td>
                    </tr>
                  <tr>
                    <td><a>Longitude</a></td>
                  </tr>
                </tbody>
                </table>
              </div>
            </div>
              <div class="field is-grouped">
              <p class="control">
                <button type="submit" class="button is-primary">Consultar</button>
              </p>
            </div>
          </form>
        </article>
        </div>
      </div>
      {% if r.nome %}
      <div class="columns">
        <div class="column is-offset-3 is-6">
          <article>
            <div class="box">
            <p class="control">
              <p><label class="label is-success">Nome</label></p>
              <input class="input is-success" disabled type="text" value="{{r.nome}}">
            </p><br>
            <p class="control">
              <p><label class="label is-success">CPF</label></p>
              <input class="input is-success" disabled type="text" value="{{r.cpf}}">
            </p><br>
            <p class="control">
              <p><label class="label is-success">ID Consulta</label></p>
              <input class="input is-success" disabled type="text" value="{{r.consultaID}}">
            </p>
          </div>
        </article>
      </div>
    </div>
    {% endif %}
    <div class="columns">
      <div class="column">
        <article>
          <div class="box">
            <div class="column is-offset-5">
          <p class="subtitle is-primary is-centered"> O que é Coordenadas?</p>
            </div>
          <p>
            {{cpfInfo}}
          </p>
        </div>
      </article>
      <!-- GOOGLE ADSENSE -->
    </div>
  </div>
  </div>

{% endblock %}
